[submodule ".vim/pack/plugins/nerdtree"]
	path = .vim/pack/plugins/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/vimwiki"]
	path = .vim/pack/plugins/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/ale"]
	path = .vim/pack/plugins/ale
	url = https://github.com/dense-analysis/ale.git
